.rcorners2 {
    border-radius: 25px;
    border: 1px solid black;
    height: 30px;
  }

 .centra {
    
    text-align: center;
    font-size:30px
    
} 

.MoreBig {

    font-size:25px;
}


.rcorners3 {
    color:white;
    border-radius: 9px;
    background-color: #007BFF;
    background-repeat: repeat;
    width: 200px;
    height: 50px; 
}
